#source: {
#  token: "token",
##  port: 5554,
##  loopback-only: false,
#}

source: {
  // "webrtsp://" for plain WebSocket connection (ws://)
  // "webrtsps:" for Secure WebSocket connection (wss://)
  url: "webrtsps://ipcam.stream/%C5%A0trbsk%C3%A9%20pleso"
}

webrtc: {
#  stun-server: "stun://stun.l.google.com:19302"
#  turn-server: "turn://username:password@host:port"
#  min-rtp-port: 0
#  rtp-ports-count: 65535
#  relay-transport-only: false
}

debug: {
  log-level: 5
#  lws-log-level: 2
}
